---
import PageHeader from '../../components/PageHeader.astro';
import Section from '../../components/Section.astro';
import Layout from '../../layouts/Layout.astro';
import Spacer from '../../components/Spacer.astro';

import companyInfo from '../../data/company-info.json';
---

<Layout title="Imprint" description="Imprint and legal information">
    <Section>
        <h2 class="my-4 text-lg font-semibold">Information according to ยง 5 DDG</h2>
        <p>
            {companyInfo.name}
            <br />
            {companyInfo.executives}
            <br />
            {companyInfo.address.street}
            <br />
            {companyInfo.address.zipCode}
            {companyInfo.address.city}
            <br />
            {companyInfo.address.country}
        </p>
        <h3 class="text-md my-4 font-semibold">Represented by</h3>
        <p>
            {companyInfo.executives}
        </p>
        <h3 class="text-md my-4 font-semibold">Contact</h3>
        <p>
            Phone: {companyInfo.phone}
            <br />
            E-Mail: {companyInfo.eMail}
        </p>
        <h3 class="text-md my-4 font-semibold">Register Entry</h3>
        <p>
            Register: {companyInfo.registration.type}
            <br />
            Register Location: {companyInfo.registration.location}
            <br />
            Registration Number: {companyInfo.registration.number}
        </p>
        <h3 class="text-md my-4 font-semibold">VAT-ID</h3>
        <p>
            {companyInfo.vatId}
        </p>
        <Spacer />
        <h2 class="my-4 text-lg font-semibold">Disclaimer</h2>
        <h3 class="text-md my-4 font-semibold">Liability for Links</h3>
        <p>
            Our offer contains links to external websites of third parties, on whose contents we have no influence. Therefore we cannot
            assume any liability for these external contents. The respective provider or operator of the sites is always responsible for the
            contents of the linked sites. The linked pages were checked for possible legal violations at the time of linking. Illegal
            contents were not identified at the time of linking. However, a permanent control of the contents of the linked pages is not
            reasonable without concrete evidence of a violation of the law. If we become aware of any infringements, we will remove such
            links immediately.
        </p>

        <h3 class="text-md my-4 font-semibold">Liability for content</h3>
        <p>
            The contents of our pages were created with the greatest care. However, we cannot assume any liability for the correctness,
            completeness and topicality of the contents. As a service provider, we are responsible for our own content on these pages in
            accordance with ยง 5 DDG and general laws. According to ยง 5 DDG we are not obliged to monitor transmitted or stored information
            from third parties or to investigate circumstances that indicate illegal activity. Obligations to remove or block the use of
            information according to general laws remain unaffected. However, liability in this respect is only possible from the time of
            knowledge of a concrete infringement. If we become aware of any such violations, we will remove the content in question
            immediately.
        </p>

        <h3 class="text-md my-4 font-semibold">Copyright</h3>
        <p>
            The contents and works on these pages created by the site operators are subject to German copyright law. The duplication,
            editing, distribution and any kind of utilization outside the limits of copyright law require the written consent of the
            respective author or creator. Downloads and copies of these pages are only permitted for private, non-commercial use. Insofar as
            the content on this site was not created by the operator, the copyrights of third parties are observed. In particular,
            third-party content is identified as such. Should you nevertheless become aware of a copyright infringement, please inform us
            accordingly. If we become aware of any infringements, we will remove such contents immediately.
        </p>
    </Section>
</Layout>
