---
import {getCollection} from 'astro:content';
import {useTranslations} from '../i18n/utils';
import {Picture} from 'astro:assets';
import Section from '../components/Section.astro';
import Layout from '../layouts/Layout.astro';
import PageHeader from '../components/PageHeader.astro';

const t = useTranslations(Astro.currentLocale);

const pageLang = Astro.currentLocale;

const references = await getCollection('references', (entry) => {
    const [lang, ...slug] = entry.slug.split('/');
    if (lang !== pageLang) {
        return undefined;
    }
    return entry;
});

function isNotLast<T>(arr: T[], index: number): boolean {
    return index < arr.length - 1;
}
---

<style>
    .reference {
        text-align: justify;
    }
    .reference :global(h1) {
        font-size: var(--text-2xl);
        font-weight: var(--font-weight-semibold);
        margin-bottom: 1rem;
    }
    .reference :global(h2) {
        font-size: var(--text-xl);
        font-weight: var(--font-weight-semibold);
        margin-bottom: 1rem;
    }
    .reference :global(p) {
        margin-bottom: 1rem;
    }
    .reference :global(ul) {
        list-style: disc;
        margin-left: 2rem;
        margin-bottom: 1rem;
        text-align: left;
    }
    .reference :global(a) {
        color: var(--color-main-green);
    }
    .reference :global(a:hover) {
        text-decoration: underline;
    }
</style>
<Layout>
    <PageHeader>{t('references.title')}</PageHeader>

    {
        references.map((reference, i) => (
            <>
                <Section>
                    <h2 class="mb-4 text-2xl font-semibold">{reference.data.title}</h2>
                    <div class="reference">
                        <Picture
                            src={reference.data.image}
                            alt={reference.slug}
                            class="float-right mx-auto rounded-xl object-cover md:w-2/3 md:pb-4 md:pl-4"
                        />
                        <Fragment set:html={reference.rendered?.html} />
                    </div>
                </Section>
                {isNotLast(references, i) && <Section bg="green" />}
            </>
        ))
    }
</Layout>
