---
import {useTranslations} from '../i18n/utils';
import Section from '../components/Section.astro';
import Layout from '../layouts/Layout.astro';
import {Image} from 'astro:assets';
import {Icon} from 'astro-icon/components';

import teamImage from '../images/team/team.jpg';
import {pictureWidths} from '../components/utils';

const pageLang = Astro.currentLocale;
const t = useTranslations(pageLang);
---

<Layout title={t('nav.contact')} description={t('contact.slogan')}>
    <Section>{t('contact.intro')}</Section>
    <!-- Contact -->
    <div class="mx-auto max-w-7xl px-4 pb-12 sm:px-6 lg:px-8 lg:pb-24">
        <!-- <div class="mx-auto mb-6 max-w-2xl text-center sm:mb-10">
            <h2 class="text-2xl font-medium text-black sm:text-4xl dark:text-white">Contacts</h2>
        </div> -->

        <div class="grid grid-cols-1 gap-6 md:gap-8 lg:grid-cols-2 lg:items-center lg:gap-12">
            <div class="aspect-w-16 aspect-h-6 lg:aspect-h-14 overflow-hidden rounded-2xl bg-gray-100 dark:bg-neutral-800">
                <!-- <img
                    class="rounded-2xl object-cover transition-transform duration-500 ease-in-out group-hover:scale-105 group-focus:scale-105"
                    src="https://images.unsplash.com/photo-1572021335469-31706a17aaef?q=80&w=560&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="Contacts Image"
                /> -->
                <Image
                    class="rounded-2xl object-cover transition-transform duration-500 ease-in-out group-hover:scale-105 group-focus:scale-105"
                    src={teamImage}
                    widths={pictureWidths()}
                    alt={t('contact.getInTouch')}
                />
            </div>
            <!-- End Col -->

            <div class="space-y-8 lg:space-y-16">
                <div>
                    <h3 class="mb-5 font-semibold text-black dark:text-white">{t('contact.address')}</h3>

                    <!-- Grid -->
                    <div class="grid gap-4 sm:grid-cols-2 sm:gap-6 md:gap-8 lg:gap-12">
                        <div class="flex gap-4">
                            <Icon name="mdi:location-on-outline" class="size-6 shrink-0 text-gray-500 dark:text-neutral-500" />

                            <div class="grow">
                                <p class="text-sm text-gray-600 dark:text-neutral-400">Germany</p>
                                <address class="mt-1 text-black not-italic dark:text-white">
                                    Geo Engine GmbH<br />
                                    Am Kornacker 68<br />
                                    35041 Marburg
                                </address>
                            </div>
                        </div>
                    </div>
                    <!-- End Grid -->
                </div>

                <div>
                    <h3 class="mb-5 font-semibold text-black dark:text-white">{t('contact.getInTouch')}</h3>

                    <!-- Grid -->
                    <div class="grid gap-4 sm:grid-cols-2 sm:gap-6 md:gap-8 lg:gap-12">
                        <div class="flex gap-4">
                            <Icon name="mdi:email-outline" class="size-6 shrink-0 text-gray-500 dark:text-neutral-500" />

                            <div class="grow">
                                <p class="text-sm text-gray-600 dark:text-neutral-400">{t('contact.mail')}</p>
                                <p>
                                    <a
                                        class="before:bg-main-lightgreen hover:before:bg-main-green relative inline-block font-medium text-black before:absolute before:start-0 before:bottom-0.5 before:-z-1 before:h-1 before:w-full focus:outline-hidden focus:before:bg-black dark:text-white dark:hover:before:bg-white dark:focus:before:bg-white"
                                        href="mailto:info@geoengine.de"
                                    >
                                        info@geoengine.de
                                    </a>
                                </p>
                            </div>
                        </div>

                        <div class="flex gap-4">
                            <Icon name="mdi:phone-outline" class="size-6 shrink-0 text-gray-500 dark:text-neutral-500" />

                            <div class="grow">
                                <p class="text-sm text-gray-600 dark:text-neutral-400">{t('contact.phone')}</p>
                                <p>
                                    <a
                                        class="before:bg-main-lightgreen hover:before:bg-main-green relative inline-block font-medium text-black before:absolute before:start-0 before:bottom-0.5 before:-z-1 before:h-1 before:w-full focus:outline-hidden focus:before:bg-black dark:text-white dark:hover:before:bg-white dark:focus:before:bg-white"
                                        href="tel:+49 6421 38017-70"
                                    >
                                        +49 6421 38017-70
                                    </a>
                                </p>
                            </div>
                        </div>

                        <div class="flex gap-4 sm:col-span-2">
                            <Icon name="mdi:video-chat" class="size-6 shrink-0 text-gray-500 dark:text-neutral-500" />

                            <div class="grow">
                                <p class="text-sm text-gray-600 dark:text-neutral-400">{t('contact.meeting')}</p>
                                <p>
                                    <a
                                        class="before:bg-main-lightgreen hover:before:bg-main-green relative inline-block font-medium text-black before:absolute before:start-0 before:bottom-0.5 before:-z-1 before:h-1 before:w-full focus:outline-hidden focus:before:bg-black dark:text-white dark:hover:before:bg-white dark:focus:before:bg-white"
                                        href="https://calendar.app.google/sELg26KJrkJT1vnE6"
                                    >
                                        {t('contact.bookHere')}
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- End Grid -->
                </div>
            </div>
            <!-- End Col -->
        </div>
    </div>
    <!-- End Contact -->
</Layout>
