---
interface Props {
    idPrefix: string;
    selectedInitially?: boolean;
    image: ImageMetadata;
    imageMobile?: ImageMetadata;
}

const {idPrefix, image, selectedInitially = false, imageMobile = image} = Astro.props;

const id = `${idPrefix}-content`;
const idLink = `${idPrefix}-tab`;
const hidden = !selectedInitially;
---

<div id={id} role="tabpanel" class:list={{hidden: hidden}} aria-labelledby={idLink}>
    <!-- Devices -->
    <div class="relative max-w-[1140px] lg:pb-32">
        <!-- Mobile Device -->
        <figure class="absolute start-0 bottom-0 z-2 ms-20 mb-20 hidden h-auto w-60 max-w-full lg:block">
            <div
                class="rounded-3xl bg-gray-100 p-1.5 shadow-[0_2.75rem_5.5rem_-3.5rem_rgb(45_55_75_/_20%),_0_2rem_4rem_-2rem_rgb(45_55_75_/_30%),_inset_0_-0.1875rem_0.3125rem_0_rgb(45_55_75_/_20%)] dark:bg-neutral-700 dark:shadow-[0_2.75rem_5.5rem_-3.5rem_rgb(0_0_0_/_20%),_0_2rem_4rem_-2rem_rgb(0_0_0_/_30%),_inset_0_-0.1875rem_0.3125rem_0_rgb(0_0_0_/_20%)]"
            >
                <img class="h-auto max-w-full rounded-[1.25rem]" src={image.src} alt="Features Image" />
            </div>
        </figure>
        <!-- End Mobile Device -->

        <!-- Browser Device -->
        <figure
            class="relative z-1 ms-auto me-20 h-auto w-3xl max-w-full rounded-b-lg shadow-[0_2.75rem_3.5rem_-2rem_rgb(45_55_75_/_20%),_0_0_5rem_-2rem_rgb(45_55_75_/_15%)] dark:shadow-[0_2.75rem_3.5rem_-2rem_rgb(0_0_0_/_20%),_0_0_5rem_-2rem_rgb(0_0_0_/_15%)]"
        >
            <div
                class="relative flex max-w-3xl items-center rounded-t-lg border-b border-gray-100 bg-white px-24 py-2 dark:border-neutral-700 dark:bg-neutral-800"
            >
                <div class="absolute start-4 top-2/4 flex -translate-y-1 gap-x-1">
                    <span class="size-2 rounded-full bg-gray-200 dark:bg-neutral-700"></span>
                    <span class="size-2 rounded-full bg-gray-200 dark:bg-neutral-700"></span>
                    <span class="size-2 rounded-full bg-gray-200 dark:bg-neutral-700"></span>
                </div>
                <div
                    class="flex size-full items-center justify-center rounded-sm bg-gray-200 text-[.25rem] text-gray-800 sm:text-[.5rem] dark:bg-neutral-700 dark:text-neutral-200"
                >
                    www.preline.co
                </div>
            </div>

            <div class="rounded-b-lg bg-gray-800">
                <img class="h-auto max-w-full rounded-b-lg" src={imageMobile.src} alt="Features Image" />
            </div>
        </figure>
        <!-- End Browser Device -->
    </div>
    <!-- End Devices -->
</div>
