---
import {Icon} from 'astro-icon/components';
import {asLocale, useLocalePages, useTranslations, pageInOtherLocale} from '../../i18n/utils';
import Logo from '../../images/GeoEngine_Mainlogo_Line_Schutzraum_4c_weiss.svg';
import FooterGridColumn from './FooterGridColumn.astro';
import FooterGridLink from './FooterGridLink.astro';

const logoHeightPx = 32;
const logoWidthPx = logoHeightPx * (1920 / 498);

const currentYear = new Date().getFullYear();

const t = useTranslations(Astro.currentLocale);
const p = useLocalePages(Astro.currentLocale);

const flagSvg = asLocale(Astro.currentLocale) === 'en' ? 'flag-en' : 'flag-de';
const selectedLocale = asLocale(Astro.currentLocale) === 'en' ? 'English' : 'Deutsch';
---

<!-- ========== FOOTER ========== -->
<footer class="mx-auto mt-auto w-full max-w-[85rem] bg-black px-4 py-10 sm:px-6 lg:px-8">
    <!-- Grid -->
    <div class="mb-10 grid grid-cols-2 gap-6 md:grid-cols-4 lg:grid-cols-5">
        <div class="col-span-full hidden lg:col-span-1 lg:block">
            <Logo
                height={logoHeightPx}
                width={logoWidthPx}
                class="flex-none text-xl font-semibold text-black focus:opacity-80 focus:outline-hidden dark:text-white"
            />
            <p class="mt-3 text-sm text-neutral-300 sm:text-base dark:text-neutral-400">
                Geo Engine GmbH<br />
                Am Kornacker 68<br />
                35041 Marburg<br />
                Deutschland
            </p>
        </div>
        <!-- End Col -->

        <FooterGridColumn />

        <FooterGridColumn />

        <FooterGridColumn>
            <Fragment slot="heading">{t('footer.info')}</Fragment>
            <FooterGridLink href="https://docs.geoengine.io/">{t('footer.documentation')}</FooterGridLink>
            <FooterGridLink href={p('privacyPolicy')}>{t('footer.privacyPolicy')}</FooterGridLink>
            <FooterGridLink href={p('imprint')}>{t('footer.imprint')}</FooterGridLink>
            <FooterGridLink href={p('cla')}>CLA</FooterGridLink>
        </FooterGridColumn>

        <FooterGridColumn>
            <Fragment slot="heading">{t('footer.externalLinks')}</Fragment>
            <FooterGridLink href="https://www.uni-marburg.de/de/fb12/arbeitsgruppen/dbs/forschung-projekte/geo-engine">
                {t('footer.projectPageUni')}
            </FooterGridLink>
            <FooterGridLink href="https://dbs.mathematik.uni-marburg.de/">AG DBS Uni Marburg</FooterGridLink>
            <FooterGridLink href="http://www.mafex.de/">MAFEX</FooterGridLink>
        </FooterGridColumn>
    </div>
    <!-- End Grid -->

    <div class="mt-5 border-t border-neutral-600 pt-5 text-neutral-500 dark:border-neutral-700">
        <div class="sm:flex sm:items-center sm:justify-between">
            <div class="mb-4 flex flex-wrap items-center gap-3">
                <!-- Language Dropdown -->
                <div class="hs-dropdown relative inline-flex [--placement:top-left]">
                    <button
                        id="hs-footer-language-dropdown"
                        type="button"
                        class="hs-dropdown-toggle inline-flex items-center gap-x-2 rounded-lg border border-gray-200 bg-white px-3 py-2 text-sm text-gray-800 shadow-2xs hover:bg-gray-50 focus:bg-gray-50 focus:outline-hidden disabled:pointer-events-none disabled:opacity-50 dark:border-neutral-700 dark:bg-neutral-900 dark:text-white dark:hover:bg-neutral-800 dark:focus:bg-neutral-800"
                        aria-haspopup="menu"
                        aria-expanded="false"
                        aria-label="Dropdown"
                    >
                        <Icon name={flagSvg} class="size-3 shrink-0 rounded-full" id="flag-icon-css-us1" />
                        {selectedLocale}
                        <svg
                            class="hs-dropdown-open:rotate-180 size-4 shrink-0 text-gray-500 dark:text-neutral-500"
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"><path d="m18 15-6-6-6 6"></path></svg
                        >
                    </button>

                    <div
                        class="hs-dropdown-menu duration hs-dropdown-open:opacity-100 z-10 hidden w-40 rounded-lg bg-white p-2 opacity-0 shadow-md transition-[opacity,margin] dark:divide-neutral-700 dark:border dark:border-neutral-700 dark:bg-neutral-800"
                        role="menu"
                        aria-orientation="vertical"
                        aria-labelledby="hs-footer-language-dropdown"
                    >
                        <a
                            class="flex items-center gap-x-2 rounded-lg px-3 py-2 text-sm text-gray-800 hover:bg-gray-100 focus:bg-gray-100 focus:outline-hidden dark:text-neutral-400 dark:hover:bg-neutral-700 dark:hover:text-neutral-300 dark:focus:bg-neutral-700 dark:focus:text-neutral-300"
                            href={pageInOtherLocale('en', Astro.url.pathname)}
                        >
                            <Icon name="flag-en" class="size-3.5 shrink-0 rounded-full" id="flag-icon-css-us" />
                            English
                        </a>
                        <a
                            class="flex items-center gap-x-2 rounded-lg px-3 py-2 text-sm text-gray-800 hover:bg-gray-100 focus:bg-gray-100 focus:outline-hidden dark:text-neutral-400 dark:hover:bg-neutral-700 dark:hover:text-neutral-300 dark:focus:bg-neutral-700 dark:focus:text-neutral-300"
                            href={pageInOtherLocale('de', Astro.url.pathname)}
                        >
                            <Icon name="flag-de" class="size-3 shrink-0 rounded-full" id="flag-icon-css-de" />
                            Deutsch
                        </a>
                    </div>
                </div>
                <!-- End Language Dropdown -->

                <div class="space-x-4 text-sm">
                    © {currentYear} Geo Engine GmbH
                </div>
            </div>

            <!-- Social Brands -->
            <div class="mb-4 space-x-4">
                <a
                    class="inline-block text-gray-500 hover:text-gray-800 focus:text-gray-800 focus:outline-hidden dark:text-neutral-500 dark:hover:text-neutral-200 dark:focus:text-neutral-200"
                    href="https://twitter.com/teamgeoengine"
                    aria-label="Twitter"
                >
                    <Icon name="mdi:twitter" class="size-4 shrink-0" />
                </a>
                <a
                    class="inline-block text-gray-500 hover:text-gray-800 focus:text-gray-800 focus:outline-hidden dark:text-neutral-500 dark:hover:text-neutral-200 dark:focus:text-neutral-200"
                    href="https://www.linkedin.com/company/geoengine-de"
                    aria-label="LinkedIn"
                >
                    <Icon name="mdi:linkedin" class="size-4 shrink-0" />
                </a>
                <a
                    class="inline-block text-gray-500 hover:text-gray-800 focus:text-gray-800 focus:outline-hidden dark:text-neutral-500 dark:hover:text-neutral-200 dark:focus:text-neutral-200"
                    href="https://github.com/geo-engine"
                    aria-label="GitHub"
                >
                    <Icon name="mdi:github" class="size-4 shrink-0" />
                </a>
            </div>
            <!-- End Social Brands -->
        </div>
        <!-- End Col -->
    </div>
</footer>

<!-- ========== END FOOTER ========== -->
